@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}


.brand__title {
  font-size: 2.5rem;
  margin: 0rem 5rem;
}
.brand-title a {
  text-decoration: none;
  color: white;
}
.brand__title span {
  font-weight: 600;
  
}

.nav-links ul {
  margin: 0px 2rem;
  padding: 0;
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
 
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}
.nav-links li a:hover {
  background-color: #555;
}
.toggle__button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle__button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;

}
.sticky {
  position: fixed;
  top: 1;
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

/* /* 
#navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
} */  */



.logo a {
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}
.container {
  max-width: 90%;
  margin: 0% auto;

}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

}

.featured-panel {
  padding: 150px 0 100px 0;
  background-color: #1F4690;
  width: 100%;
  /* background-image: url('bg.svg');
  background-size: cover;
  background-repeat: no-repeat; */

}
 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  
}
.featured-panel img {
  max-width: 100%;
  margin: 0 auto;
}

.featured-panel h1 {
  /* text-align: left; */
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color:  #ffffff;
  text-shadow: 2px 2px 0px rgba(36, 34, 34, 0.3);
}
.featured-content {
  width: 100%;
}
.featured-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;

}
.featured-desc p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #f3f3f3;
  letter-spacing: 0.1px;
  font-weight: 200;
  
}
.cta {
  padding: 30px 0;
  width: 25%;
  display: flexbox;

}

.build-now {
  background-color: #08265c;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  /* flex: 1; */
  padding: 25px 0px;

  width: 100%;
 
}
.visit {
  flex: 1;
  background-color: #08265c;
  font-family: 'Poppins', sans-serif;

  border: none;
  letter-spacing: 1px;
  font-size: 1.3rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  padding: 16px 3px;
  margin: 0px;
}

.visit:hover {
  background-color: #0c2d6b;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.build-now:hover {
  background-color: #0c2d6b;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.cta .build-now:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 5px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.cta .visit:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 5px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.hero__lowercontent p {
  padding: 0 400px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
 
  color: #eaeaea;
  opacity: 0.5;
}

/* featured build */
.featured__product {
  width: 80%;
  margin: 3% auto;
}
.featured__product h6 {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;

}
.featured__product h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  padding-top: 120px;
}
.featured__product p {
  text-align: center;
  font-size: 1.3rem;
  color: #acacac;
  letter-spacing: -0.9px;
}
.featured__container {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.featured__box img {
  height: 400px;
  padding: 50px 0 0 0;

}
.featured__box h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  
}
.prod-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: gold;
}
.prod-rating p {
  font-size: 18px;
}
.prod-rating span {
  padding: 0 3px ;
}
.prod-info {
  padding: 10px;
}
.prod-info a{
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #0c2d6b;
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 10px;

}


.brand-logos {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: 2% auto 8%;
  
}
.brand-logos img {
  height: 2.5rem;
  align-items: center;
  filter: brightness(0);
  opacity: 50%;
}
.brand-title {
 display: flex;
 justify-content: center;

}
.brand-title h1 {
 
  filter: brightness(0);
  opacity: 50%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* Services Offered */
.services {
  /* background-color: rgb(221, 221, 221); */
padding-bottom: 100px;
}
.services__container {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;


}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  column-gap: 10px;
  color: rgb(0, 0, 0);
  padding:3rem 0 7rem 0;

} 
.service__title {
  /* background-color: #08265c; */
  grid-column: 1 / -1;
  text-align: center;
  font-size: 3rem;
  padding: 50px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.col {
  flex-direction: column;
  gap: 15px;
  text-align: center;
  display: flex;
}
.col img {
  width: 300px;
  height: auto;
  align-self: center;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}
.col p {
  padding: 0 30px;
  text-align: justify;
}
.col a {
  align-self: center;
  background-color: #2554ac;
  width: 50%;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}


/* Reviews */

.review-container {
  width: 90%;
 margin: 0px auto;
 padding-top: 100px;
 padding-bottom: 100px;

}
.review-container h1 {
  text-align: center;

  /* background-color: #ced5e1; */
  color:rgb(0, 0, 0);
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.review-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 100px;
  padding: 50px 0px;
  
}
.review-1 {
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  padding: 20px 10px;
  column-gap: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
.review-2 {
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  padding: 20px 10px;
  column-gap: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

.review-content p{
  font-size: 14px;
  
}

h4 {
  color: #9e9e9e;
  font-weight: 400;
}

.review-2 img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgb(212, 212, 212);
}
.review-mid {
  width: 50%;
}
.review-bottom {

  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.review-bottom p {
  filter: brightness(0);
  opacity: 50%;
  font-size: 1.5rem;
  padding: 50px 20px;
  font-weight: 500;
  width: 80%;
}
.review-bottom img {
  border-radius: 50px;
  padding: 0 10px;
}
.stars {
  text-align: right;
  align-self: flex-start;
  flex: 1;
  color: gold;
}
.fa-star {
  color: gold;
}


/* My team */

.team-container {
  margin: 0 auto;
  /* min-height: 50vh; */
  background-color: #1F4690;
  padding: 100px 100px 150px 100px;


}

.team-container h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  padding-bottom: 30px;
  color: #fff;
  text-transform: uppercase;

  
}
.team-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  padding: 30px 0px 20px 0;
  background-color: #ebf0f8;
  border-radius: 20px;
}
.team-1 {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;

}
.team-panel img {

  align-self: center;
  width: 200px;
  height: auto;
  border-radius:50%;
  padding: 20px 30px;
  /* box-shadow: rgba(210, 210, 210, 0.05) 0px 6px 240px 10px, rgba(234, 234, 234, 0.08) 0px 0px 0px 1px; */
}
.team-panel h3 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.team-panel p {
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  font-size: 16px;
 
}
.team-panel h2 {
  text-align: center;
  /* background-color: #737373; */
  color: rgb(158, 158, 158);

  font-weight: 200;
  font-size: 1.2rem;
  padding-bottom: 0px;
  text-transform: uppercase; 
}

.team-social {

  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 2px 0;
}
.team-social i {

  font-size: 2rem;
}
.team-1 a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  color:#fff;
  background-color: #0c2d6b;
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  /* transform: skew(-15deg); */
  border-radius: 20px;

}

.team-1:hover {
 
  cursor: pointer;
}
/* Project Section */
.project__container {
  width: 100%;
  background-color: #1F4690;
 
}
.project__container h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size:3rem;
  font-weight: 400;;
  padding: 100px 0 20px 0;
  color: white;
}
.project__content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 150px;

  
}
.one {
  background-color: #dbe5f5;
  padding: 2px;
  transition: 0.3s;
}
.project__panel p {
  text-align: center;
}
.project__panel img {
  height: 200px;
  width: auto;
}
.one:hover {
  /* background-color:black ; */
  cursor: pointer;
  transform: scale(1.5);
  border-radius: 10px;

}
.satisfaction__logo {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 50px 0;
}
.satisfaction__logo img {
  height: 5rem;
  align-items: center;
  filter: brightness(1);
  opacity: 30%;

 
  
}

/* Contact Form */
.contact__container {

    margin: 0 auto;
    /* min-height: 50vh; */
    background-color: #ffffff;
    padding: 120px 100px 50px 100px;
  
}
.contact {
  margin: 0 auto;
  width: 80%;
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
  border-radius: 2rem;
}
.contact__panel {
  display: flex;
  /* flex-direction: column; */

}

.left__panel {
  background-color: #1F4690;
  /* width: 100%; */
  /* padding: 0 50px; */
  border-radius: 2rem 0 0 2rem;
  
  
}
.left__panel h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.left__panel p {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 100px;
  /* margin: 10px 0; */
  font-size: 1.2rem;
}
.fa-envelope {
  font-size: 10rem;
  padding: 20px 30px;
  color: #dbe5f5;
}
.chat__icon {
  text-align: center;
  padding: 30px 0;
}
.right__panel {
   width: 70%;
   background-color: #ebf0f8;
   border-radius: 0 2rem 2rem 0;

}
.right__panel p {
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(55, 55, 55);
}
input {
  /* width: 100%; */
  padding: 10px 10px;
  font-family: 'Poppins', sans-serif;

}
.contact__data {
  display: flex;
  flex-direction: column;
  padding: 25px 100px;
  gap: 20px;
}
.right__panel h2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
}
textarea {
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
}
button {
  padding: 15px 0;
  font-size: 1.2rem;
  width: 40%;
  margin: 0 auto;
  color: white;
  background-color: #1F4690;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
}
button:hover {
  cursor: pointer;
  background-color: #2554ac;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  display: flex;
  justify-content: center;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

@media (max-width: 600px){
  .toggle__button {
    display: flex;
    margin-top: 0.6rem;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .nav-links ul li {
    width: 100%;
    text-align: center;
  }
  .nav-links {
    padding: .5rem 0rem;
  }
  .nav-links.active {
    
    display: flex;
 
  }
  .brand__title {
    font-size: 1.5rem;
    margin: 1rem;
    
  }

  /* Hero */
  .featured-panel {

    background-color: #1F4690;
    /* display: block; */
    /* background-image: url('bg.svg');
    background-size: cover;
    background-repeat: no-repeat; */
  
  }
   .container {

    flex-direction: column-reverse;
    
  }
  .featured-panel img {
   width: 150px;
   height: auto;
  }
  .featured-panel h1 {
    /* text-align: left; */
    font-size: 1.5rem;
    text-align: center;
  }
  .featured-content {
    width: 100%;
  }
  .featured-desc p {
    font-size: 12px;
    text-align: center;
    
  }
  .cta {
    width: 100%;

  
  }
  .hero__lowercontent p {
    padding: 0 5px;
    text-align: center;
    font-size: 1rem;
   
  }

  /* category */
  .featured__product {
    width: 100%;
    margin: 0 auto;
  }
  .featured__product h6 {
   
    font-size: 1rem;
  
  }
  .featured__product h1 {
  font-size: 2rem;
    padding-top: 80px;
  }
  .featured__product p {
    text-align: center;
    font-size: 1rem;
    color: #acacac;
    letter-spacing: -0.9px;
  }
  .featured__container {
    gap: 20px;
    flex-direction: column;
  }
  .featured__box img {
    display: block;
    height: 300px;
    width: auto;
    margin: 0 auto;
    
  
  }
  .featured__box h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    
  }
  .prod-rating {
  
    gap: 10px;
    color: gold;
  }
  .prod-rating p {
    font-size: 18px;
  }
  .prod-rating span {
    padding: 0 3px ;
  }
  .prod-info {
    padding: 10px;
  }
  .prod-info a{
    width: 100%;
    padding: 10px;
  
  }
  
  .brand-logos {

    margin: 5% auto 8%;
    
  }
  .brand-logos img {
    height: 1.2rem;
   
  }

  .brand-title h1 {
  
    font-size: 1rem;

    
  }



  /* Services */
  .row {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  
  } 

/* My Team */


.team-container {
  padding:50px 5px;
}

.team-container h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 0px;
  padding: 50px 0;
  color: #fff;
  /* text-transform: uppercase; */

  
}
.team-panel .team-1:nth-child(-n+ 2) {
  border-bottom: #0c2d6b solid 5px;
}
.team-panel {
  align-items: center;
  flex-direction: column;

}
.team-1 {
  padding: 10px 20px;
}
.team-panel img {

  width: 200px;
  height: auto;
  padding: 10px 30px;
  /* box-shadow: rgba(210, 210, 210, 0.05) 0px 6px 240px 10px, rgba(234, 234, 234, 0.08) 0px 0px 0px 1px; */
}
.team-panel h3 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;

}

.team-panel p {
  color: rgb(0, 0, 0);
  padding: 0 20px;
  text-align: justify;
  font-size:12px;
 
 
}
.team-panel h2 {

  font-size: 15px;
  text-transform: uppercase; 
}

.team-social {

  gap: 20px;
  padding: 10px 0;
}
.team-social i {

  font-size: 1rem;
}
.team-1 a {


  color:#fff;
  background-color: #0c2d6b;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  /* transform: skew(-15deg); */


}
.team-1:hover {

  cursor: pointer;
}

/* Reviews */
  
  
.review-container {
 width: 80%;
 margin: 0px auto;
 padding-top: 50px;
 padding-bottom: 50px;

}
.review-container h1 {
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.review-panel {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding: 20px 0px;
  
}
.review-2 {
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  row-gap: 10px;

}
.review-content p{
  font-size: 14px;
  text-align: center;
}

h4 {
  color: #9e9e9e;
  font-weight: 400;
  text-align: center;
}

.review-2 img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgb(212, 212, 212);
  
}
.review-mid {
  width: 100%;

}
.review-mid h3 {
  text-align: center;
}
.review-bottom {
  width: 100%;
  flex-direction: column;
}
.review-bottom p {
  text-align: justify;
  font-size: 0.9rem;
  padding: 20px 0px;
  font-weight: 400;
  width: 100%;
  padding: 20px 10px;
}

.stars {
  align-self: center;
}

/* Project Section */
.project__container {
  width: 100%;
  background-color: #1F4690;
 
}
.project__container h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:2rem;
  font-weight: 400;;
  padding: 50px 0 20px 0;

}
.project__content {
  grid-template-columns: repeat(1,1fr);
  row-gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;

  
}

.project__panel p {
  text-align: center;
}

.one:hover {
  transform: scale(1.1);
}
.satisfaction__logo img {
  height: 5rem;
  opacity: 50%;
}




/* Contact Form */
.contact__container {

    margin: 0 auto;
    /* min-height: 50vh; */
    background-color: #ffffff;
    padding: 0;
  
}
.contact {
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 6px 8px -3px rgba(0,0,0,0.3);
  border-radius: 0;
}
.contact__panel {
  display: flex;
  flex-direction: column;
  padding: 50px 0;

}

.left__panel {
  background-color: #1F4690;
  width: 100%;
  /* padding: 0 50px; */
  border-radius: 0;
  padding: 20px 0 50px 0;
}
.left__panel h1 {
  font-size: 2rem;
  color: white;
  text-align: center;


}
.left__panel p {
  display: block;
  color: white;
  text-align: center;
  padding:0px 50px;
  /* margin: 10px 0; */
  font-size: 0.8rem;
}
.fa-envelope {
  font-size: 5rem;
  padding: 10px 0;
  color: #dbe5f5;
}
.chat__icon {
  text-align: center;
  padding: 0px 0;
}
.right__panel {
   width: 100%;
   background-color: #ebf0f8;
   border-radius: 0;

}
.right__panel p {
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(55, 55, 55);
}
input {
  /* width: 100%; */
  padding: 10px 10px;


}
.contact__data {

  padding: 25px 5px;

}
.right__panel p {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 400;
}

/* Footer */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:10px;
  line-height:1.6;
  margin-bottom:0;
  display: flex;
  justify-content: center;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


}

